/* Font Library fonts */
@font-face {
    font-family: 'FantasqueSansMonoBold';
        src: url('https://fontlibrary.org/face/fantasque-sans-mono/assets/fonts/fantasque-sans-mono/b0cbb25e73a9f8354e96d89524f613e7/a46033d3a07d9385620dc83b7655203f/FantasqueSansMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'FantasqueSansMonoBoldItalic';
        src: url('https://fontlibrary.org/face/fantasque-sans-mono/assets/fonts/fantasque-sans-mono/b0cbb25e73a9f8354e96d89524f613e7/b0683ef4c834908aa372ec78dea42349/FantasqueSansMonoBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'FantasqueSansMonoItalic';
        src: url('https://fontlibrary.org/face/fantasque-sans-mono/assets/fonts/fantasque-sans-mono/b0cbb25e73a9f8354e96d89524f613e7/b78d0a48e4443f797e8d45dcf97594f7/FantasqueSansMonoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'FantasqueSansMonoRegItalic';
        src: url('https://fontlibrary.org/face/fantasque-sans-mono/assets/fonts/fantasque-sans-mono/d9468644396932f3eea03b16c132f620/686bd0544f5b18a34c8568dd5604c497/FantasqueSansMonoRegItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'FantasqueSansMonoRegular';
        src: url('https://fontlibrary.org/face/fantasque-sans-mono/assets/fonts/fantasque-sans-mono/b0cbb25e73a9f8354e96d89524f613e7/f3fdc4f0f26e4431f54e8b552d55480c/FantasqueSansMonoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

/* Clear */			
.clear {
	display: block;
	clear: both;
	float: none;
}

/* Typography */
body { font-family: 'Nunito', sans-serif; color: #111; }
h1, h2, .page .panel-content .recent-posts .entry-title {
	color: #000;
	font-family: 'BioRhyme';
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .05em;
}
h2 {font-weight: 400;}
h3 { text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}
@media screen and (min-width: 48em) {
	.single-post .entry-title, .page .entry-title {
	  font-size: 26px;
	  font-size: 2.5rem;
		font-weight: 300;
	}
}

blockquote {
  font-family: 'FantasqueSansMonoItalic';
  font-style: normal;
  border-color: #000;
  border-left: 3px solid #000;
  padding-left: 1em;
  margin-bottom: 2em;
	color: #000;
}
blockquote p:last-child {
  margin-bottom: 0;
}
.wp-caption, .gallery-caption {
  color: #000;
  font-size: 14px;
  font-size: 0.9rem;
  font-style: normal;
  font-family: 'FantasqueSansMonoItalic';
}
.wp-caption .wp-caption-text {
  border-bottom: 3px solid #000;
  padding-bottom: .8em;
}

/* Header area */
.site-branding {
  background-color: 	#EAE4E3;
}
.site-title, .site-title a {
  color: #000;
  font-family: 'BioRhyme';
  font-weight: 300;
}
.site-description {
  color: #000;
  font-family: 'FantasqueSansMonoItalic';
}

/* Main navigation */
.navigation-top {
  border-bottom: 3px solid #000;
	border-top: 3px solid #000;
}
.navigation-top a {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
  color: #000;
  background-color: #c8ebeb;
}
.main-navigation a:hover {
  color: #8D3D46;
}
.social-navigation a {
  background-color: #000;
}
.site-footer {
  border-top: 3px solid #000;
  background-color: #C8EBEB;
}

/* Archives */
.blog .page-header {
  padding-bottom: 2em;
  display: none;
}

@media screen and (min-width: 48em) {
	.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
	  float: none;
	  width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.page.page-one-column .entry-header, .twentyseventeen-front-page.page-one-column .entry-header, .archive.page-one-column:not(.has-sidebar) .page-header {
	  margin-bottom: 1.5em;
	}
}

/* Buttons */
button, input[type="button"], input[type="submit"] {
  background-color: transparent;
  border: 3px solid #222;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
	font-family: Nunito;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background: #E1D7D6;
}

/* Comment area */
.comment-author {
	font-family: FantasqueSansMonoItalic;
}
.comment-author .avatar {
  border-radius: 50%;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 3px solid #333;
  padding: 3px;
  background-color: #C8EBEB;
}

/* Hide tix remaining */
td.tix-column-remaining {
    display: none;
}
